div.note {
  border: 1px solid black;
  /*text-indent: 1em */ }

div.note, .note-p {
  text-indent: 1em;
  margin-left: 0;
  margin-right: 0;
  font-style: italic; }

/* Since Kindle doesn't like multiple classes have to have combinations (fixed in 2.7) */
.note-p-first {
  text-indent: 0;
  margin-left: 1em;
  margin-right: 1em; }

.note-p {
  text-indent: 1em;
  margin-left: 1em;
  margin-right: 1em; }

/* Poetry handing indent hacks */
/* see http://ebookarchitects.com/blog/backwards-compatible-poetry-for-kf8mobi/ */
/* and http://www.pigsgourdsandwikis.com/2012/01/media-queries-for-formatting-poetry-on.html */
.pos1 {
  text-indent: -1em; }

.pos2 {
  text-indent: -1em; }

.pos3 {
  text-indent: -1em; }

.pos4 {
  text-indent: -1em; } }

/* ADD CUSTOM CSS HERE */
